---
import Layout from "../../layouts/Layout.astro";
import Button from "@components/Button.astro";

export const pageTitle = "Project 01 Proposal";
---

<Layout title={pageTitle}>
  <h1>Project 1 Proposal</h1>
  <p>Here is my Project 1 Proposal</p>
  <Button/>
  <div>
    <h2>kjdclakjdklasd</h2>
  </div>
</Layout>

<style>

</style>
