---
import Layout from "../layouts/Layout.astro";
import Button from "@components/Button.astro";

---

<Layout title="Home">
  <h1>Welcome to my site!</h1>
  <Button href="/assignments/assignment-01/">Go to Assignment 1</Button>
  <p>This is your Design for the Web 2 starter site.</p>
  <p>
    Feel free to start editing this page in <code>src/pages/index.astro</code>
  </p>
</Layout>
